<div class="wrapper">
    <div class="main">
        <div class="container"  style="background-color: cadetblue;">
            <div class="header-margin"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tim-title text-center">
                        <h2>Balance</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <form id="userForm" name="AccountForm" style="width: 600px; height: 500px; margin-left:25%; margin-right:25%;">
                    <div class="col-md-12 row-display form-group">
                        <div class="col-md-2">
                            <label class="form-check-label h3title">Account No. </label><span class="pull-right">:</span>
                        </div>
                        <div class="col-md-10">
                            <input class="form-control bg-light" type="text" id="accountNo" disabled placeholder="Account No." [value]="accountNo">
                        </div>
                    </div>
                    <div class="col-md-12 row-display form-group">
                        <div class="col-md-2">
                            <label class="form-check-label h3title">Balance </label><span class="pull-right">:</span>
                        </div>
                        <div class="col-md-10">
                            <div class="input-group">
                                <input class="form-control bg-light" type="email" id="email" disabled placeholder="Balance" [value]="balance" >
                           
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
